.container {
  box-sizing: border-box;

  // padding: 24px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  // .arco-form-item-wrapper {
  //   width: 100%;
  // }
}
