:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-stretch: condensed;
  line-height: 1.5;
  color: rgb(255 255 255 / 87%);
  color-scheme: light;

  // background-color: #242424;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: transparent;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-reduced-motion: no-preference) {
  // a:nth-of-type(2) .logo {
  //   animation: logo-spin infinite 20s linear;
  // }
}
