.header {
  height: 120px;
  background: rgb(128 32 32 / 60%);
  border-color: red;
  border-style: dashed;

  .header {
    height: 120px;
    background: rgb(128 32 32 / 60%);
    border-color: red;
    border-style: dashed;

    .header {
      height: 120px;
      background: rgb(128 32 32 / 60%);
      border-color: red;
      border-style: dashed;
    }
  }
}
