.layout {
  font-size: 16px;
  text-align: center;
  background: rgb(var(--orange-9));

  --layout-header-height: 64px;

  &-aside {
    height: 100vh;
  }

  &-header,
  &-footer {
    height: var(--layout-header-height);
    background-color: var(--color-primary-light-4);
  }
}
